/* Selector de elemento haciendo referencia a etiqueta div */
div {
    width: 300px;     /* Declaración de la propiedad Width(ancho),le daremos el valor de 300px */
    height: 100px;    /* Declaración de la propiedad height(alto),le daremos el valor de 100px */
    padding: 10px;    /* Declaración de la propiedad padding que genera espacio alrededor del contenido,le daremos el valor de 10px */
    margin: 10px;     /* Declaración de la propiedad margin que genera espacio alrededor del borde,le daremos el valor de 10px */
    display: block;   /* Declaración de la propiedad display que especifica el tipo de caja que usaremos para la etiqueta div,que sera de tipo bloque */
   
}
/* Selector de clase yellow que se como atributo en la etiqueta div */
.yellow {
    background-color: #ffc107;    /* Declaración de la propiedad background-color para establecer el color de fondo,le daremos el valor del color en HEX */
}
/* Selector de clase black que se como atributo en la etiqueta div */
.black {
    background-color: #2b2b2b;    /* Declaración de la propiedad background-color para establecer el color de fondo,le daremos el valor del color en HEX */
    color: white; /* Declaración de la propiedad color para establecer el color del texto,le daremos como valor el nombre del color */
}